/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.imageDetail{
    max-width: 90%;
    max-height: auto;
}

.imagePanier{
    max-width: auto;
    height: 40px;
}

.blocInformationDetails{
    float: right;
}

@font-face { 
  font-family: DarkTime; 
  src: url("Mona Shark.otf"); 
}


@font-face { 
  font-family: Orange; 
  src: url("orange juice 2.0.ttf"); 
}

#titreSite{
  color : #E0E0E0;
  font-size: 100px;
  font-family: DarkTime, Georgia, serif;
}

#titreNav{
    font-size: 30px;
  font-family: DarkTime, Georgia, serif;
}

.titreRubrique{
    font-size: 60px;
  font-family: Orange, Georgia, serif;
}

.titreBloc{
    font-size: 32px;
    color : black;
  font-family: Orange, Georgia, serif;
}

#textPresentation p, #textPresentation ul ,#textPresentation ol{
    color: white;
}
